<nav> 
    <div class="row d-flex justify-content-between">
        <div class="col">
            <a href="{{ path('app_home') }}">Accueil</a>
            <a href="{{ path('app_categorie') }}">Catégories</a>
            <a href="{{ path('app_article') }}">Articles</a>
        </div>
        <div class="col float-right">
            {% if app.user %}
                <a href="{{ path('app_logout') }}" class="btn btn-danger">Se déconnecter</a>
            {% else %}
                <a href="{{ path('app_register') }}" class="btn btn-primary">Créer un compte</a>
                <a href="{{ path('app_login') }}" class="btn btn-secondary">Se connecter</a>
            {% endif %}

        </div>
    </div>
</nav>
